button {
    width: 200px;
    margin-bottom: 2px;
    margin-right: 10px;
}

footer {
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

img {
    margin-left: 10px;
}