<div class="container bg-primary text-white">
    <div class="jumbotron bg-dark text-white">
        <h1>Czas na &#347;wiecie</h1>
        <p><ins>Po kliknieciu na przycisk, zegar zmieni sie na aktualny czas z danego miejsca.</ins></p>
        <p>Twoja strefa czasowa: {{timezone}}</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <h3 class="card-title text-center">
                    <div class="d-flex flex-wrap justify-content-center mt-3">
                        <a><span class="badge hours">Dzien:</span></a>
                        <a><span class="badge hours">{{clockTime|day}}</span></a>
                    </div>
                </h3>
            </div>
            <div class="card bg-danger text-white">
                <h3 class="card-title text-center">
                    <div class="d-flex flex-wrap justify-content-center mt-3">
                        <a><span class="badge hours">Godzina:</span></a>
                        <a><span class="badge hours">{{clockTime|hours}}</span></a>
                    </div>
                </h3>
            </div>
            <div class="card bg-dark text-white">
                <h3 class="card-title text-center">
                    <div class="d-flex flex-wrap justify-content-center mt-3">
                        <a><span class="badge hours">Strefa czasowa:</span></a>
                        <a><span class="badge hours">{{clockTime?.abbreviation}}</span></a>
                    </div>
                </h3>
            </div>
        </div>
    </div>
    <br>
    <div *ngFor="let local of localization" class="text-center">
        <button type="button" class="btn btn-dark" (click)="getTime(local?.local)">{{local?.local}} </button>
    </div>

    <footer class=" bg-dark text-white">
        <p class="lead"><strong>&#169; Adrian Ławecki
        <a href="https://github.com/Pancerro?tab=repositories"><img width="35px" height="35px" class="img-fluid" alt="github logo" src="assets/github-icon.png"></a>
   </strong></p>
        <p> <a href="mailto:pancerro@gmail.com">Email: pancerro@gmail.com</a></p>
    </footer>
</div>